{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1> Register for PLK GM </h1>
    {% if registered %}
        fantasy says: <strong> thank you for registering!</strong>
        <a href="{% url 'fantasy:index' %}">Return to the homepage.</a><br />
    {% else %}
        fantasy says: <strong>register here!</strong> <br>
        <form id="user_form" method="post" action="{% url 'fantasy:register' %}"
            enctype="multipart/form/-data">
        
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Regsiter" />
    </form>
    {% endif %}
{% endblock %}